:root {
  --btn-padding: max(min(0.8vw, 12px), 8px) max(min(1.5vw, 24px), 16px);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: break-word;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: var(--fw-med);
  transition: opacity 0.25s ease-in-out;
  padding: var(--btn-padding);
  border: none;
  @include clamp("min-width", 160, 125, 180);

  &:hover {
    opacity: 0.9;
  }
}

.button--icon {
  .icon {
    width: 20px;
    margin-inline-end: 6px;
    margin-inline-start: -4px;
  }
}

.button--primary {
  background-color: var(--primary-fg);
  color: var(--primary-bg);
}

.button--secondary {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  border: 1px solid var(--primary-fg);

  &:hover {
    background-color: var(--primary-fg);
    color: var(--primary-bg);
    opacity: 1;
  }
}

.button--link {
  a {
    @extend .button;
    padding: var(--btn-padding);
  }
}

.button--link--primary a {
  @extend .button--primary;
}

.button--link--secondary a {
  @extend .button--secondary;
}

.close-button {
  color: var(--primary-fg);
  background-color: var(--secondary-bg);
  border: none;
  margin-bottom: max(min(1.76vw, 32px), 16px);
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}
