.modal {
  background-color: var(--secondary-bg);
  padding: 32px 24px;
  width: min(90vw, 300px);
  border-radius: 2px;
  box-shadow: 0 0 7rem rgb(0 0 0 / 10%);
  position: relative;
  overflow: auto;
  max-height: 80vh;
}
