:root {
  --navbar-py: max(min(2vw, 28px), 20px);
  --nav-item-min-w: max(min(6.73vw, 100px), 80px);
}

.navbar {
  display: flex;
  text-transform: capitalize;
  padding-inline-start: var(--container-px);

  @media (max-width: 766px) {
    align-items: center;
  }
}

.navbar__logo {
  margin-inline-end: auto;
  font-weight: var(--fw-med);
  margin-top: var(--navbar-py);

  a {
    color: var(--primary-fg);

    &:visited {
      color: var(--primary-fg);
    }
  }
}

.navbar__links-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;

  @media (max-width: 766px) {
    flex-direction: column;
    align-items: center;
  }
}

.navbar__nav-item {
  position: relative;
  font-weight: var(--fw-med);
  font-size: 14px;

  &:not(:last-child) {
    margin-right: 3px;
  }

  a,
  .navbar__btn-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px 20px;
    color: var(--primary-fg);
    background-color: var(--secondary-bg);
    border: 1px solid transparent;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    min-width: var(--nav-item-min-w);
    @include clamp("min-height", 100, 90, 108);

    &:visited {
      color: var(--primary-fg);
    }

    &:hover,
    &:hover:visited {
      color: var(--primary-bg);
      background-color: var(--tertiary-fg);
    }

    &:focus {
      border-color: var(--primary-accent);
      box-shadow: inset 0 0 4px var(--primary-accent), 0 0 4px var(--primary-accent);
    }
  }

  @media (max-width: 766px) {
    width: var(--nav-item-min-w);

    .navbar__latern {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

[theme="dark"] {
  .navbar__nav-item {
    a,
    .navbar__btn-item {
      background-color: var(--black-700);

      &:hover,
      &:hover:visited {
        color: var(--primary-fg);
        background-color: var(--black-900);
      }
    }
  }
}

.navbar__nav-item {
  &.navbar__nav-item--cta {
    a,
    .navbar__btn-item {
      color: var(--primary-bg);
      background-color: var(--primary-fg);

      &:visited {
        color: var(--primary-bg);
      }
    }
  }
}

.navbar__language-item[data-locale="en"] {
  font-weight: var(--fw-bold);
}

.navbar__latern {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  z-index: -1;
  transform: translateX(calc(50% + 2px));

  svg {
    width: 30px;
    aspect-ratio: 1/5;
    fill: var(--primary-fg);
  }
}

[dir="rtl"] {
  .navbar__latern {
    transform: translateX(calc(-50% - 2px));
  }
}

.navbar__off-canvas {
  display: none;

  &[aria-expanded="true"] {
    display: block;
  }

  @media (min-width: 767px) {
    display: block !important;
  }

  @media (max-width: 766px) {
    background-color: var(--primary-bg-trans);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

.navbar__off-canvas-inner {
  @media (max-width: 766px) {
    width: min(50vw, 250px);
    min-width: 200px;
    height: 100vh;
    background-color: var(--primary-bg);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    padding: 24px;
    overflow: auto;
    overscroll-behavior: contain;
    margin-inline-start: auto;
  }
}

.navbar__toggle-btn {
  margin-top: var(--navbar-py);
  margin-inline-end: var(--container-px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  color: var(--primary-fg);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: var(--primary-fg);
    color: var(--primary-bg);
  }
}

.navbar__close-btn {
  color: var(--primary-fg);
  background-color: var(--secondary-bg);
  border: none;
  margin-bottom: 32px;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;

  @media (min-width: 767px) {
    display: none;
  }
}

.navbar__toggle-btn {
  @media (min-width: 767px) {
    display: none;
  }
}
