.page {
  height: 100%;
  position: relative;
}

.page__bg-pattern {
  position: fixed;

  svg {
    max-width: 100%;
    @extend %objectImg;
  }
  @extend %inset;
}

[theme="dark"] {
  .page__bg-pattern svg {
    fill: white;
    opacity: 0.5;
  }
}

.page__content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}
