:root {
  --prayer-times-size: 90px;
  --prayer-times-padding: 7px;
}

.prayer-times__toggle-btn {
  border: none;
  background: transparent;
  border-radius: 50%;
  width: var(--prayer-times-size);
  height: var(--prayer-times-size);
  position: fixed;
  left: var(--container-px);
  right: var(--container-px);
  inset-inline-start: var(--container-px);
  bottom: var(--navbar-py);
  cursor: pointer;
  transition: transform 0.25s ease-in-out;

  img {
    height: auto;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.prayer-times__ribble-inner,
.prayer-times__ribble-outer,
.prayer-times__ribble-core {
  border-radius: 50%;
  padding: var(--prayer-times-padding);
}

.prayer-times__ribble-outer {
  background-color: var(--grass-500);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border: 1px solid var(--grass-400);
}

.prayer-times__ribble-inner {
  background-color: var(--grass-300);
}

.prayer-times__ribble-core {
  background-color: var(--black-800);
}

.prayer-times__times {
  .prayers-table {
    width: 100%;
  }
}

.prayer-times__close-btn {
  font-size: 14px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  margin-bottom: 12px;
  margin-inline-start: auto;
  margin-inline-end: 0;

  svg {
    width: 20px;
  }
}

.prayer-times__heading {
  font-size: 18px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--fw-med);
}

.prayer-times__dates {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.prayer-times__date-wrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-inline-end: 16px;
  margin-bottom: 8px;
}

.prayer-times__date {
  margin-inline-start: 6px;
}

.MuiModal-root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: min(32px, 6vh) 20px;
}

.MuiBackdrop-root {
  background-color: var(--primary-bg-trans);
}

@media (min-width: 767px) {
  :root {
    --prayer-times-size: 120px;
    --prayer-times-padding: 10px;
  }
}
