body {
  margin: 0;
  font-family: var(--roboto);
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  height: 100%;

  ::selection {
    color: var(--primary-bg);
    background-color: var(--primary-fg);
  }
}
