:root {
  // Black
  --black-900: black;
  --black-800: #242423;
  --black-700: #333533;

  //   Gray
  --gray-900: #4a4d4a;
  --gray-800: #828782;
  --gray-700: #a2a69c;

  //Grass
  --grass-900: #cfdbd5;
  --grass-600: #e8eddf;
  --grass-400: #f2f7e9;
  --grass-200: #f7fcee;
  --grass-100: #e8eddeb3;

  //Yellow
  --yellow-900: #f5cb5c;
  --yellow-500: #f5cb5c;

  //White
  --white-900: white;
}
