[theme="light"] {
  --primary-bg: var(--grass-600);
  --secondary-bg: var(--grass-400);
  --primary-fg: var(--black-800);
  --secondary-fg: var(--gray-900);
  --tertiary-fg: var(--gray-900);
  --primary-accent: var(--grass-400);
  --secondary-accent: var(--grass-900);
  --contrast-accent: var(--yellow-900);
  --primary-bg-trans: var(--grass-100);
}

[theme="dark"] {
  --primary-bg: var(--black-800);
  --secondary-bg: var(--black-700);
  --primary-fg: var(--grass-600);
  --secondary-fg: var(--gray-900);
  --tertiary-fg: var(--gray-900);
  --primary-accent: var(--grass-400);
  --secondary-accent: var(--grass-900);
  --contrast-accent: var(--yellow-900);
  --primary-bg-trans: var(--grass-100);
  --primary-bg-trans: var(--black-300);
}
